@charset "UTF-8";
/* CSS Document */


/* Empty. Add your own CSS if you like */
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}




/* welcome screen */

.welcome
{
	background-image:url('../img/mobilebackground.jpg');
	background-color:white;
	background-repeat:no-repeat;
	background-size:cover;
	text-align:center;
}

.logo1
{
	width:100%;
}

.msg1
{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	color:#fff;
	text-align:center;

}

.tracker
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15em;
}

.msg1 h3, .msg1 h1
{
	color:#fff;
}

@media only screen and (max-width: 700px) {

	.tracker
	{
		position:absolute;
		width: 25%;
		height: 25%;
		left: 35%;
	}
}

@media screen and (min-width: 769px) {

.logo1
{
	width:30%;
	margin:auto;
}

.tracker
{
	position:absolute;
	width:100px;
	bottom:0px;
	left:45%;
}


}


/* welcome screen */



/* Food */

.food
{
	/*background-image:url('../img/menubackground.jpg');*/
	background-color:white;
	background-repeat:no-repeat;
	background-size:cover;
}

.electronics
{
	/*background-image:url('../img/menubackground.jpg');*/
	background-color:white;
	background-repeat:no-repeat;
	background-size:cover;
}


.food_head
{
	background-color:rgba(0,0,0,0.5);
	padding:20px 20px;
	width:100%;
	margin-top:10px;
	color:#fff;
	font-size:30px;
	text-align:center;
	margin-bottom:20px;
}


.food_menu
{
	background-color:rgba(255,255,255,0.8);
	padding:20px;
	border-radius:10px;
	width:90%;
	margin:20px auto;
	
}

.food_menu ul
{
	list-style:circle;
	padding-left:20px;
}

/* food */


.cafe
{
	/*background-image:url('../img/menubackground.jpg');*/
	background-color:white;
	background-repeat:no-repeat;
	background-size:cover;
}

.cafe_head
{
	background-color:rgba(0,0,0,0.5);
	padding:20px 20px;
	width:100%;
	margin-top:10px;
	color:#fff;
	font-size:30px;
	text-align:center;
	margin-bottom:20px;
}


.cafe_menu
{
	background-color:rgba(255,255,255,0.8);
	padding:20px;
	border-radius:10px;
	width:90%;
	margin:20px auto;
	
}

.cafe_menu ul
{
	list-style:circle;
	padding-left:20px;
}


