<ion-view view-title="Welcome" hide-nav-bar="true">

    <ion-content class="welcome">
        <!--
       <p>Welcome note</p>
        <a href="#/menu/pantry" class="button icon-right ion-chevron-right button-clear button-dark"
        >Pantry</a>
        <a href="#/menu/lunch" class="button icon-right ion-chevron-right button-clear button-dark"
        >Lunch</a>
        <div class="list">
          <div class="item" ng-repeat="(key, value) in beacons">
    
            <div class="row">
              <div class="col truncate">
                {{value.uuid}}
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                {{value.major}}
              </div>
              <div class="col">
                {{value.minor}}
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                {{value.rssi}}
              </div>
              <div class="col">
                {{value.tx}}
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                {{value.accuracy}}
              </div>
              <div class="col">
                {{value.proximity}}
              </div>
            </div>
    
          </div>
        </div>
-->
        <div class="row">
            <div class="col-lg-12" style="align-content: center;">
                <img src="img/logo.png" class="logo1"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>

        <div class="row">
            <div class="col lg-12">
                <h3><strong>S-Mart</strong> IOTian's Application</h3> <br>
                <h1> We will try to locate the Beacons now.. </h1> 
            </div>
        </div>
        <div class="row">
            <div class="col lg-12"><br>
                <img src="img/tracker.gif" class="tracker"/>
            </div>
        </div>
    </ion-content>
</ion-view>
