<ion-view can-swipe-back="false">
    <div class="bar bar-header bar-energized">
        <h1 class="title">Grocery Section</h1>
        <button class="button">Checkout</button>
    </div>
    <ion-content class="electronics">
        <br><br>
        <b>    Recommendation: </b>
        <div class="row" ng-repeat="item in wholeelectronic.RECOMMENDED_OFFERS" >

            <div class="col-sm-4"> 
                <div class="row">
                    <div class="col-sm-12">  
                        <img src="img/no_image_found.jpg" width="200"/>
                                               
               
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="text" size="2" name ="quantity">
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="button" value="Add">
                    </div>
                </div>
            </div>
            <div class="col-sm-8"> 
                <div clas="row">
                    <div class="col-sm-12">
                        {{item.PRODUCT_NAME}}
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-5">
                         {{item.OFFERS}}
                    </div>
                    <div class="col-sm-7">
                         {{item.PRICE}}
                    </div>
                </div>

            </div>
        </div>
        <br><br>
      
         <div class="row" ng-repeat="item in wholeelectronic.GENERAL_OFFERS" >

            <div class="col-sm-4"> 
                <div class="row">
                    <div class="col-sm-12">  
                       <img src="img/no_image_found.jpg" width="200"/>
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="text" size="2" name ="quantity">
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="button" value="Add">
                    </div>
                </div>
            </div>
            <div class="col-sm-8"> 
                <div clas="row">
                    <div class="col-sm-12">
                        {{item.PRODUCT_NAME}}
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-5">
                        {{item.OFFERS}}
                    </div>
                    <div class="col-sm-7">
                        {{item.PRICE}}
                    </div>
                </div>

            </div>
        </div>


        <!--    <ion-tabs class="tabs-positive tabs-icon-top">
    
                <ion-tab title="Recommended" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                    List of devices
                   
                 
    
    
                </ion-tab>
    
                <ion-tab title="Your Preferences" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                  
                </ion-tab>
    
    
            </ion-tabs> -->


    </ion-content>
</ion-view>
