<ion-view can-swipe-back="false">
    <div class="bar bar-header bar-energized">
        <h1 class="title">Electronics Section</h1>
        <button class="button">Checkout</button>
    </div>
    <ion-content class="electronics">
        <br><br>

        <h2 class="title text-center text-capitalize text-info">Recommendation:</h2>


        <div class="row" ng-repeat="item in wholeelectronic.RECOMMENDED_OFFERS" >

            <div class="col-sm-4"> 
                <div class="row">
                    <div class="col-sm-12">  
                        <img ng-if="item.PRODUCT_NAME == 'IPHONE 6S GOLD'" src="img/iphone_6s_gold.jpg" width="200"/>
                        <img ng-if="item.PRODUCT_NAME == 'SAMSUNG GALAXY S6 EDGE'" src="img/samsung_galaxy_s6_edge.jpg" width="200"/>
                        <img ng-if="item.PRODUCT_NAME !== 'IPHONE 6S GOLD' && item.PRODUCT_NAME !== 'SAMSUNG GALAXY S6 EDGE'" src="img/no_image_found.jpg" width="200"/>
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="text" size="2" name ="quantity">
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="button" value="Add">
                    </div>
                </div>
            </div>
            <div class="col-sm-8"> 
                <div clas="row">
                    <div class="col-sm-12">
                        {{item.PRODUCT_NAME}}
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-5">
                        Discount {{item.OFFERS}}
                    </div>
                    <div class="col-sm-7">
                        {{item.PRICE}}
                    </div>
                </div>

            </div>
        </div>
        <br><br>

        <h2 class="title">General Offers:</h2>


        <div class="row" ng-repeat="item in wholeelectronic.GENERAL_OFFERS" >

            <div class="col-sm-4"> 
                <div class="row">
                    <div class="col-sm-12">  
                        <img ng-if="item.PRODUCT_NAME !== 'Samsung Galaxy Note 5'" src="img/no_image_found.jpg" width="200"/>
                        <img ng-if="item.PRODUCT_NAME == 'Samsung Galaxy Note 5'" src="img/samsung_galaxy_note_5.jpg" width="200"/>
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="text" size="2" name ="quantity">
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12">
                        <input type="button" value="Add">
                    </div>
                </div>
            </div>
            <div class="col-sm-8"> 
                <div clas="row">
                    <div class="col-sm-12">
                        {{item.PRODUCT_NAME}}
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-5">
                        Discount {{item.OFFERS}}
                    </div>
                    <div class="col-sm-7">
                        {{item.PRICE}}
                    </div>
                </div>

            </div>
        </div>


        <!--    <ion-tabs class="tabs-positive tabs-icon-top">
    
                <ion-tab title="Recommended" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                    List of devices
                   
                 
    
    
                </ion-tab>
    
                <ion-tab title="Your Preferences" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                  
                </ion-tab>
    
    
            </ion-tabs> -->


    </ion-content>
</ion-view>
