<ion-view can-swipe-back="false">
    <ion-content class="cafe">
        <div class="row cafe_head">
            <div class="col">Sips and Snacks</div>
        </div>
        <div class="row food_menu">
            <div class="col ">
                <h4>Snacks</h4>
                <hr/>
                <ul type="circle" ng-repeat="item in pantryMenu.snacks">
                    <li>{{item}}</li>
                </ul>
            </div>
        </div>

        <div class="row food_menu">
            <div class="col ">
                <h4>Beverages</h4>
                <hr/>
                <ul type="circle" ng-repeat="item in pantryMenu.beverages">
                    <li>{{item}}</li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>